<body>
  <style> body {
    position: absolute;
    top: 20%;
    left: 43%;
    background: linear-gradient(to bottom right, #ffffff 0%, #ff9933 99%)
  }
  </style>
<h1> PLAYER1: <%= @name %> </h1>
</body>
