<body>
  <style> body {
    position: absolute;
    top: 20%;
    left: 45%;
    background: linear-gradient(to top, #cc3300 0%, #663300 100%);
    color: white
  }
  </style>
<center>
<h2> Enter name </h2>
<img src='sword.png'>
<form action='/login' method='post'>
<input type='text' name='name'>
<input type='submit' value='GO' method='post'>
</form>
</center>
</body>
