<body>
  <style> body {
    position: absolute;
    top: 40%;
    left: 45%;
    background: linear-gradient(to top, #cc3300 0%, #663300 100%);
    color: linear-gradient(to bottom, #800000 0%, #000000 99%);
  }
  </style>
<center>
<h2> Enter name </h2>
<form action='/battle' method='post'>
<input type='text' name='name'>
<a href="/battle"><input type='submit' value='GO' method='post'></a>
</form>
</center>
</body>
